.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    /* justify-items: center; */
}

.NavBar{
    background-color: aqua;
    width: 100%;
}
.Dashboard{
    background-color: blue;
    width: 100%;
}