.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 5% 95%;
    align-items: center;
    justify-items: center;
}

.Banner{
    background-color: aqua;
    width: 100%;
}