.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 5% 95%;
    align-items: center;
}

.main{
    display: grid;
    grid-template-columns: 3% 97%;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 3% 97%;
    }
  }