.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 5fr;
  font-family: techfont;
}
.brand {
  height: 100vh;
  background-image: url("/bg-6.avif");
  background-size: cover;
  background-position: -8vw;
}
.main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: #f0feff;
}
.logo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  object-fit: cover;

  .separador {
    position: absolute;
    left: 24.5vw;
    height: 12vh;
    width: 0.5vh;
    background-color: #3fa1ad;
  }
  .hr {
    position: absolute;
    width: 40vw;
    height: 0.3vh;
    background-color: #3fa1ad79;
    bottom: -6vh;
  }
  .iso {
    height: 15vh;
    filter: opacity(80%);
  }
}
.form {
  grid-row: span 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .input {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: 6vh;
    background-color: #f0feff;
    border: solid 0.1vh #3fa0ad79;
    border-radius: 1vh 1vh 1vh 1vh;
    outline: none;
    filter: drop-shadow(0px 2px 3px #90909050);
    text-indent: 0.5rem;
    margin-bottom: 8vh;
  }
  .input:focus,
  .input:hover {
    outline: none;
    filter: drop-shadow(0px 3px 3px #90909090);
  }
  .etiquetaUs {
    position: absolute;
    top: 16vh;
    left: 6vw;
    background-color: #f0feff;
    z-index: 1;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 2vh;
    color: #505050cc;
  }
  .etiquetaCon {
    color: #505050cc;
    position: absolute;
    bottom: 37.5vh;
    left: 6vw;
    background-color: #f0feff;
    z-index: 1;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 2vh;
  }
  .boton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 45.5vw;
    height: 7vh;
    color: #202020;
    border-radius: 1vh 1vh 1vh 1vh;
    border: none;
    background: linear-gradient(to right, #1e6d77, #3fa1ad);
    filter: drop-shadow(0px 2px 3px #90909050);
    cursor: pointer;
    color: #ffffff;
    font-size: 3vh;
  }
  .boton:hover {
    filter: drop-shadow(0px 3px 3px #909090b2) brightness(90%);
  }
}

.popup {
  position: absolute;
  width: 55.7vw;
  height: 100vh;
  background-color: #000000f8;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: scroll;
}

.placas {
  margin-top: 2vh;
  width: 25vw;
  height: 10vh;
  background-color: #f0feff;
  color: #505050;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 1vh;
  filter: drop-shadow(0px 2px 3px #90909050);
}
.iso {
  filter: opacity(80%);
  margin-left: 3vh;
}
.link {
  margin-left: 3vh;
}
.hr2 {
  width: 0.3vh;
  height: 9vh;
  background-color: #3fa1ad;
  border: none;
  margin-left: 3vh;
}

.placas:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  filter: drop-shadow(0px 3px 3px #90909090);
}
.eti {
  display: none;
}
.noPlacas {
  height: 100vh;
  display: grid;
  place-content: center;
  color: #f0feff;
}
.close {
  position: absolute;
  right: 1vh;
  top: 1vh;
  border: none;
  background-color: transparent;
  color: #f0feff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.close:hover {
  filter: brightness(50%);
}
