.container {
  width: 98%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 19.2rem);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.parte {
  /* background: radial-gradient(
    50rem circle at center,
    rgba(50, 50, 50,0.8),
    rgba(10, 10, 10,0.5)
  ); */
  background-color: rgba(253, 253, 255, 0.747);
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
