/* .container {
  background-color: #202020;
  width: 8%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

.iso {
  width: 4rem;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.container {
  background: linear-gradient(
    to bottom,
    #101010,
    #101010,
    #303030,
    #202020,
    #101010
  );
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden;
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  order: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: techfont;
  border-top: solid 0.5px #505050;
  margin-left: 5%;
  .iso {
    width: 70%;
    object-fit: cover;
    /* filter: drop-shadow(2px 2px 3px rgba(134, 134, 134, 0.404)); */
  }
  .padi {
    color: #d4d4d4;
    margin-bottom: -1rem;
    margin-top: 0rem;
  }
}
.links {
  grid-row: span 3;
  margin-left: 5%;
  margin-top: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  .link {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: transparent;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    color: #d4d4d4;
    cursor: pointer;
  }
  .link:hover {
    background-color: #303030;
    filter: brightness(80%);
  }
}
.footer {
  margin-left: 5%;
  margin-bottom: 2%;
  border-top: solid 0.5px #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d4d4d4;
  font-size: small;
  order: 2;
}
