body {
  /* background: radial-gradient(
    50rem circle at bottom,
    rgba(4, 5, 83, 0.548),
    rgb(200, 200, 200)
  ); */
  background-color: rgb(200,200,200);
  font-family: roboto;
  overflow-y: hidden;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('../public/bg-9.avif'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* filter: grayscale(20%) opacity(60%) blur(2px); */
  pointer-events: none;
}

@font-face {
  font-family: "roboto"; /* Nombre de la fuente que usarás en tu hoja de estilos */
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("opentype"); /* Ruta a tu archivo de fuente */
  /* src: url("./font/UniNeue-Trial-Regular.ttf") format("opentype"); Ruta a tu archivo de fuente */
}
