body {
  margin: 0;
  background: linear-gradient(
    to bottom,
    #101010,
    #101010,
    #303030,
    #202020,
    #101010
  );
  font-family: roboto;
}

button{
  font-family: militech;
  font-size: large;
  
}

input{
  font-family: techfont;
}

@font-face {
  font-family: "roboto"; /* Nombre de la fuente que usarás en tu hoja de estilos */
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("opentype"); /* Ruta a tu archivo de fuente */
  /* src: url("./font/UniNeue-Trial-Regular.ttf") format("opentype"); Ruta a tu archivo de fuente */
}

@font-face {
  font-family: "militech";
  src: url("./fonts/militech_r_2019-04-13.ttf");
}
@font-face {
  font-family: "techfont";
  src: url("./fonts/Techfont.ttf");
}