body {
  margin: 0;
  background-color: rgb(200,200,200);
  font-family: roboto;
}

button{
  font-family: roboto;

}

@font-face {
  font-family: "roboto"; /* Nombre de la fuente que usarás en tu hoja de estilos */
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("opentype"); /* Ruta a tu archivo de fuente */
  /* src: url("./font/UniNeue-Trial-Regular.ttf") format("opentype"); Ruta a tu archivo de fuente */
}
